<%- include('partials/header') %>


<br>
<div class="center">
  <form action="/searchstaff" style="display:flex" method="post">

      <input type="text" class="form-control" name="searchvalue" placeholder="Tìm kiếm nhân viên theo họ tên hoặc email" style="width:50%">
      <button type="submit" class="btn btn-default">Tìm kiếm</button>


  </form>

  <br><br>


<br><br>

<% for(var i=0; i< staff.length; i++) { %>

<h3> <%= staff[i].hoten %> -  <%= staff[i].email %> </h3>
<button type="button" name="button" class="btn btn-primary"> <a style="color:white" href="/staffinfo/<%= staff[i]._id %>">Xem hồ sơ</a></button>


  <% if (vitri =='admin'){ %>
    <button type="button" name="button" class="btn btn-danger"> <a onclick="return confirm('Bạn có chắc muốn xóa tài khoản nhân viên này ?')" style="color:white" href="/deletestaff/<%= staff[i]._id %>">Xóa tài khoản</a></button>
      <%
    }%>

<hr>



<br>


<%   } %>

</div>

<%- include('partials/footer') %>
