<%- include('partials/header') %>
  <div class="center">
    <form class="" action="/changedhealth" method="post">
      <h3>Thông tin sức khỏe cơ bản :</h3>
      <p>Thống kê dựa vào máy đo InBody</p>
      <div class="form-group">
        <label for="">Họ và tên : </label>
        <input type="text" class="form-control" name="fullname" readonly value="<%= profile[0].hoten %>">

      </div>
      <div class="form-group">
        <label for="">Ngày tháng năm sinh </label>
        <input type="date" class="form-control" name="dob" readonly value="<%= profile[0].namsinh %>">

      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input type="email" class="form-control" name="email" readonly value="<%= profile[0].email %>">

      </div>
      <div class="form-group">
        <label for="">Chiều cao (mét)</label>
        <input type="text" name="userid" style="display:none" value="<%= profile[0]._id %>">
        <input type="number" class="form-control" name="height" min="0.01" max="250" step="0.01"  value="<%= profile[0].chieucao %>">

      </div>
      <div class="form-group">
        <label for="">Cân nặng (kí)</label>
        <input type="number" class="form-control" name="weight"  min="0.01" max="400"  step="0.01"  value="<%= profile[0].cannang %>">

      </div>
      <div class="form-group">
        <label for="">Số đo 3 vòng</label>
        <input type="number" placeholder="Vòng 1:" class="form-control" name="vong1"  min="0.01" max="200" step="0.01"  value="<%= profile[0].vong1 %>">
        <input type="number" placeholder="Vòng 2:" class="form-control" name="vong2"  min="0.01" max="200" step="0.01"  value="<%= profile[0].vong2 %>">
        <input type="number" placeholder="Vòng 3:" class="form-control" name="vong3"  min="0.01" max="200" step="0.01"  value="<%= profile[0].vong3 %>">


      </div>
      <div class="form-group">
        <label for="">Lượng cơ (kí)</label>
        <input type="number" class="form-control" name="muscle" min="0.01" max="300" step="0.01"  value="<%= profile[0].luongco %>">

      </div>
      <div class="form-group">
        <label for="">Lượng mỡ (kí)</label>
        <input type="number" class="form-control" name="fatmass" min="0.01" max="300" step="0.01" value="<%= profile[0].luongmo %>">

      </div>
      <button type="submit" class="btn btn-success" name="button">Thay đổi ! </button>

    </form>

  </div>

  <%- include('partials/footer') %>
